<template>
  <div class="relative mt-2 lg:mt-0 lg:ml-3">
    <button
      class="m-auto lg:m-0 block h-10 w-10 rounded-full overflow-hidden border-2 border-gray-600 focus:outline-none focus:border-white"
      @click="isOpen = !isOpen"
    >
      <img
        class="h-full w-full object-cover lazy"
        src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
        alt="Your avatar"
      />
    </button>
    <div
      :class="isOpen ? 'block' : 'hidden'"
      class="m-auto lg:m-0 lg:absolute lg:right-0 mt-2 lg:mt-1 lg:w-48 bg-white rounded-lg rounded-t-none shadow-xl"
    >
      <a
        href="#"
        class="block px-4 h-12 leading-btn text-gray-800 hover:bg-black hover:text-white"
      >
        Account settings
      </a>
      <a
        href="#"
        class="block px-4 h-12 leading-btn text-gray-800 hover:bg-black hover:text-white"
      >
        Support
      </a>
      <a
        href="#"
        class="block px-4 h-12 leading-btn text-gray-800 hover:bg-black hover:text-white rounded-lg rounded-t-none"
      >
        Sign out
      </a>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false
    }
  }
}
</script>
