<template>
  <nav class="container mx-auto mt-3">
    <ol
      class="inline-block pl-1 bg-gray-300 text-black rounded rounded-l-none lg:rounded-l"
    >
      <li class="inline-block">
        <a href="/" class="block py-3 lg:py-0 px-1 hover:bg-gray-400 rounded">
          Home
        </a>
      </li>
      <li class="inline-block py-3 lg:py-0 text-gray-700">
        /
        <!-- <img src="~assets/svg/chevron-right.svg" width="20" /> -->
      </li>
      <li class="inline-block">
        <a href="#" class="block py-3 lg:py-0 px-1 hover:bg-gray-400 rounded">
          Trips
        </a>
      </li>
      <li class="inline-block py-3 lg:py-0 text-gray-700">/</li>
      <li class="inline-block py-3 lg:py-0 px-1 pr-3">Sublink</li>
    </ol>
  </nav>
</template>
