<template>
  <nav :class="isOpen ? 'block' : 'hidden'" class="lg:pr-2 lg:flex">
    <ul class="lg:flex" @mouseleave="closeSubMenus(true)">
      <li v-for="(item, i) in items" :key="i">
        <span
          v-if="item.items"
          :class="[{ 'mt-2 lg:my-0': i !== 0 }, itemClass]"
          class="ml-0 lg:ml-2"
          @mouseover="openSubMenu(i, true)"
          @click="toggleSubMenu(i)"
        >
          {{ item.text }}
          <img
            v-if="item.items"
            src="~/assets/svg/chevron-small-down.svg"
            width="20"
            class="lg:mt-1 lg:-mr-2 float-right"
          />
        </span>
        <a
          v-if="!item.items"
          :href="item.link"
          :class="[{ 'my-2 lg:my-0': i !== 0 }, itemClass]"
          class="ml-0 lg:ml-2"
          @mouseover="closeSubMenus()"
        >
          {{ item.text }}
        </a>
        <ul
          v-if="item.items && isSubMenuOpen[i]"
          class="lg:absolute bg-gray-800 lg:bg-black rounded rounded-t-none lg:w-64 lg:ml-2 shadow-xl"
        >
          <li v-for="(subItem, j) in item.items" :key="j">
            <a
              :href="subItem.link"
              :class="[
                itemClass,
                { 'bg-gray-700 lg:bg-gray-900': j % 2 },
                { 'rounded rounded-t-none': j + 1 == item.items.length }
              ]"
              class="lg:ml-0 lg:my-0"
            >
              {{ subItem.text }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: { isOpen: Boolean },

  data() {
    return {
      logs: '',
      isMobile: false,
      items: [
        { text: 'Link #1', link: '#1' },
        {
          text: 'Link #2',
          link: '#2',
          items: [
            { text: 'Sublink', link: '#21' },
            {
              text:
                'Sublink #2 sublink #2 sublink #2 sublink #2 sublink #2 sublink #2 sublink #2 sublink #2 sublink #2 sublink #2 sublink #2',
              link: '#22'
            },
            { text: 'Sublink #3', link: '#23' },
            { text: 'Sublink #4', link: '#24' }
          ]
        },
        { text: 'Link #3', link: '#3' },
        {
          text: 'Link #4',
          link: '#4',
          items: [
            { text: 'Sublink', link: '#41' },
            {
              text: 'Sublink #2',
              link: '#42'
            }
          ]
        }
      ],
      isSubMenuOpen: [],
      // isOpen: false,
      itemClass: 'block px-2 py-3 text-white font-semibold lg:hover:bg-gray-800'
    }
  },

  mounted() {
    window.addEventListener('resize', this.updateIsMobile)
    this.updateIsMobile()
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.updateIsMobile)
  },

  methods: {
    updateIsMobile() {
      this.isMobile = this.isTouchDevice() || window.innerWidth < 1024
      // window.matchMedia('(max-width: 1023px)').matches
      // window.innerWidth < 1024
      // /mobile|phone|android|blackberry|webos|touch/i.test(navigator.userAgent)
    },

    isTouchDevice() {
      const prefixes = ['', '-webkit-', '-moz-', '-o-', '-ms-', ''] // ' -webkit- -moz- -o- -ms- '.split(' ')
      const mq = function(query) {
        return window.matchMedia(query).matches
      }

      if (
        'ontouchstart' in window ||
        // eslint-disable-next-line no-undef
        (window.DocumentTouch && document instanceof DocumentTouch)
      ) {
        return true
      }

      // include the 'heartz' as a way to have a non matching MQ to help terminate the join https://git.io/vznFH
      const query = [
        '(',
        prefixes.join('touch-enabled),('),
        'heartz',
        ')'
      ].join('')
      return mq(query)
    },

    closeSubMenus(largeDeviceOnly) {
      // only if width > 1024
      if (largeDeviceOnly && this.isMobile) {
        return
      }

      this.isSubMenuOpen.forEach((v, j) => {
        if (v) {
          this.$set(this.isSubMenuOpen, j, false)
        }
      })
    },

    openSubMenu(i, onDesktopOnly = false) {
      if (onDesktopOnly && this.isMobile) {
        return
      }

      // hide other sub menus (if new sub menu opening)
      if (!this.isSubMenuOpen[i]) {
        this.closeSubMenus()
      }

      // exit if no sub menu or already open
      if (!this.items[i].items || this.isSubMenuOpen[i]) {
        return
      }

      // toggle sub menu
      this.$set(this.isSubMenuOpen, i, true)
    },

    toggleSubMenu(i) {
      // hide other sub menus (if new sub menu opening)
      if (!this.isSubMenuOpen[i]) {
        this.closeSubMenus()
      }

      // exit if no sub menu
      if (!this.items[i].items) {
        return
      }

      // toggle sub menu
      this.$set(this.isSubMenuOpen, i, !this.isSubMenuOpen[i])
    }
  }
}
</script>
