<template>
  <div>
    <header
      class="bg-gray-900 lg:flex lg:justify-between lg:items-center lg:px-1 lg:px-4"
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center flex-shrink-0 text-white ml-1 mr-2">
          <svg
            class="fill-current h-8 w-8 mr-2"
            width="54"
            height="54"
            viewBox="0 0 54 54"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"
            />
          </svg>
          <span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
        </div>

        <div class="lg:hidden">
          <button
            class="flex items-center h-12 w-12 text-gray-500 hover:text-white hover:border-transparent"
            @click="isOpen = !isOpen"
          >
            <svg
              class="fill-current h-6 w-6 m-auto"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path
                v-if="!isOpen"
                d="M0,0h24v2H0V0zm0,7h24v2H0V9zm0,7h24v2H0v2zm0,7h24v2H0v2z"
              />
              <path
                v-if="isOpen"
                stroke="white"
                stroke-width="2"
                d="M0,0L24,24M0,24L24,0"
              />
            </svg>
          </button>
        </div>
      </div>

      <MainMenu :is-open="isOpen" />

      <div
        :class="isOpen ? 'block' : 'hidden'"
        class="pb-2 lg:flex lg:p-0 text-center"
      >
        <!-- <a
          href="#"
          class="inline-block text-sm px-6 h-12 mt-2 lg:mt-0 leading-btn border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white"
        >
          Download
        </a> -->
        <AccountDropdown />
      </div>
    </header>
  </div>
</template>

<script>
import AccountDropdown from './AccountDropdown'
import MainMenu from './MainMenu'

export default {
  components: {
    AccountDropdown,
    MainMenu
  },
  data() {
    return {
      isOpen: false
    }
  }
}
</script>
