<template>
  <div>
    <div id="app" class="antialiased text-gray-900">
      <div class="bg-gray-200 min-h-screen">
        <Navbar />
        <Breadcrumb />
        <nuxt />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '../components/Navbar'
import Breadcrumb from '../components/Breadcrumb'

export default {
  components: {
    Navbar,
    Breadcrumb
  }
}
</script>
