<template>
  <div class="container mx-auto">
    <div>
      <header class="px-2 mt-3 mb-4">
        <h1 class="text-2xl">
          Hello world!
        </h1>
        Welcome on this brand new website
      </header>
      <!-- Full width column -->
      <div class="flex mb-4">
        <div class="flex-1 bg-gray-500 h-12" />
      </div>

      <!-- Five columns -->
      <div class="flex mb-4">
        <div class="flex-1 bg-gray-400 h-12" />
        <div class="flex-1 bg-gray-500 h-12" />
        <div class="flex-1 bg-gray-400 h-12" />
        <div class="flex-1 bg-gray-500 h-12" />
        <div class="flex-1 bg-gray-400 h-12" />
      </div>

      <!-- Seven columns -->
      <div class="flex mb-4">
        <div class="flex-1 bg-gray-400 h-12" />
        <div class="flex-1 bg-gray-500 h-12" />
        <div class="flex-1 bg-gray-400 h-12" />
        <div class="flex-1 bg-gray-500 h-12" />
        <div class="flex-1 bg-gray-400 h-12" />
        <div class="flex-1 bg-gray-500 h-12" />
        <div class="flex-1 bg-gray-400 h-12" />
      </div>

      <!-- Eleven columns -->
      <div class="flex mb-4">
        <div class="flex-1 bg-gray-400 h-12" />
        <div class="flex-1 bg-gray-500 h-12" />
        <div class="flex-1 bg-gray-400 h-12" />
        <div class="flex-1 bg-gray-500 h-12" />
        <div class="flex-1 bg-gray-400 h-12" />
        <div class="flex-1 bg-gray-500 h-12" />
        <div class="flex-1 bg-gray-400 h-12" />
        <div class="flex-1 bg-gray-500 h-12" />
        <div class="flex-1 bg-gray-400 h-12" />
        <div class="flex-1 bg-gray-500 h-12" />
        <div class="flex-1 bg-gray-400 h-12" />
      </div>
    </div>
  </div>
</template>
